*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --light-gray-blue: hsl(210, 46%, 95%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --dark-gray-blue: hsl(217, 19%, 35%);

  --container-max-width: 900px;
  --container-width: 88%;
}

body {
  background-color: var(--light-gray-blue);
  color: var(--dark-blue);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.3;
}

img {
  display: block;
  max-width: 100%;
}

figure,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  max-width: var(--container-max-width);
  width: var(--container-width);
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* CARD STYLING START */
.card {
  max-width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 1rem hsla(212, 23%, 69%, 0.658);
  border-radius: 0.65rem;
  overflow: hidden;
}

.card-img-wrapper {
  max-height: 250px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-body,
.card-footer,
.tooltip-show.tooltip-wrapper {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.card-body {
  padding-top: 2rem;
  padding-bottom: 1.35rem;
}

.card-title,
.card-subtitle {
  color: var(--dark-gray-blue);
}

.card-body .card-description {
  margin: 1em 0;
}

.card-footer,
.author-info {
  display: flex;
  align-items: center;
}

.card-footer {
  position: relative;
  justify-content: space-between;
}

.card-footer,
.tooltip-show.tooltip-wrapper {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}
.author-info {
  gap: 1rem;
}

.author-img-wrapper {
  max-width: 55px;
  border-radius: 50%;
  overflow: hidden;
}

.card-date {
  margin: 0;
}

.tooltip-toggler {
  width: 50px;
  height: 50px;
  background-color: var(--light-gray-blue);
  border-radius: 50%;
}

.tooltip-toggler svg {
  fill: var(--dark-gray-blue);
}

.tooltip-show.tooltip-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray-blue);
}

.tooltip-show .tooltip {
  width: auto;
  height: auto;
}

.tooltip {
  display: flex;
  align-items: center;
  gap: 1.15rem;
  width: 0;
  height: 0;
  overflow: hidden;
}

.tooltip-label {
  font-size: 0.92rem;
  color: var(--gray-blue);
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media screen and (min-width: 890px) {
  body {
    font-size: 15px;
  }

  .card {
    overflow: visible;
    max-width: unset;
    display: grid;
    grid-template-columns: minmax(40%, 1fr) auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "img content"
      "img footer";
  }

  .card-body,
  .card-footer,
  .tooltip-show.tooltip-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .card-footer {
    padding-top: 0.2rem;
    padding-bottom: 2rem;
  }
  .card-img-wrapper {
    grid-area: img;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .card-img-wrapper {
    max-height: unset;
  }

  .card-img {
    height: 100%;
  }

  .card-body {
    grid-area: content;
  }
  .card-footer {
    grid-area: footer;
  }

  .tooltip-show.tooltip-wrapper {
    position: relative;
    left: auto;
    top: auto;

    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
  }
  .tooltip-show .tooltip {
    width: max-content;
  }
  .tooltip-wrapper {
    position: relative;
  }

  .tooltip {
    --arrow-size: 1em;
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: calc(100% + var(--arrow-size) + 2px);
    width: auto;
    height: auto;
    padding: calc(1vh + 0.7rem) calc(1vw + 1rem);
    background-color: var(--dark-gray-blue);
    width: max-content;
    transform: translate(-50%) scaleY(0);
    transform-origin: bottom;
    border-radius: 0.5rem;
    overflow: visible;
  }

  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--dark-gray-blue);
  }
  .tooltip-wrapper:hover .tooltip,
  .tooltip-wrapper:focus-within .tooltip {
    transform: translate(-50%) scaleY(1);
  }
}
